<h2 mat-dialog-title >Add entities</h2>
<mat-dialog-content>
  <div class="searchContainer">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Search" [(ngModel)]="searchStr" (ngModelChange)="handleChange()">
    </mat-form-field>
  </div>

  <mat-list>
    <mat-list-item
      *ngFor="let item of entities"
      [ngClass]="{hidden: item.name.toLocaleLowerCase().indexOf(searchStr) == -1}">
      <div *ngIf="item.name.toLocaleLowerCase().indexOf(searchStr) !== -1"
           class="checkBoxContainer">
        <mat-checkbox [(checked)]="item.connected" (click)="chageMethod(item.id)" name={{item.id}}></mat-checkbox>
        <div class="entitiesName">
          <span>{{item.name}}</span>
          <span>{{item.type}}</span>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</mat-dialog-content>
<div mat-dialog-actions>
  <button mat-raised-button (click)="onCloseCancel()">Close</button>
  <button mat-raised-button (click)="onCloseSubmit()">Connect</button>
</div>
